//Base styles
@import '../helpers/index';

* {
  box-sizing: border-box;
}

body {
  background-color: $gray;
  color: $black;
  font-family: $font-family-secondary;
  font-size: 16px;
}

a {
  color: $black;
  outline: 0;
  text-decoration: none;
}

h1 {
  font-size: 1px;
  opacity: 0;
  text-indent: -100%;
}

p {
  font-size: 1.25em;
  margin-top: 0;
}

img {
  max-width: 100%;
}

::selection {
  background: $cyan;
}

::-moz-selection {
  background: $cyan;
  color: $black;
}
