// Icons
@import '../helpers/index';

.icons {
  margin: 30px auto;
}

.icon {
  height: 34px;
  margin-bottom: 30px;
  position: relative;
  right: 14px;
  width: 34px;
}

a svg {
  box-sizing: padding-box;
  fill: $violet;
  padding: 2px;
}

a:hover svg,
a:focus svg {
  fill: darken($violet, 20%);
}
