// Footer
@import '../helpers/index';

.copy {
  color: darken($gray-1, 25%);
  font-size: em(16px);
  text-transform: uppercase;

  &::selection {
    color: $gray-3;
  }

  @media screen and (max-width: 480px){
    text-align: center;
  }
}
