/* ==========================================================================
   Contact form
   ========================================================================== */
@import '../helpers/index';

#contact {
  background-color: $gray-1;
  margin: 1.5em auto 2em;
  padding: 3em 1em 8em;
  position: relative;
  text-align: center;

  @media screen and (min-width: 480px) {
    padding: 3em 4em 8em;

    &::after {
      border: 14px solid $cyan;
      bottom: -32px;
      content: '';
      height: 150px;
      position: absolute;
      right: -32px;
      width: 200px;
      z-index: -1;
    }
  }
}

form {
  font-size: 1.125em;
  max-width: 600px;
}

input:invalid {
  border: 0;
  border-bottom: 8px solid $pink;
  box-shadow: none;
}

textarea,
input {
  background-color: $gray;
  border: 0;
  border-bottom: 8px solid $gray;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 100%;

  &:focus {
    border-bottom: 8px solid $violet;
    outline: none;
  }
}

textarea {
  max-height: 300px;
  min-height: 150px;
  resize: vertical;
}

#form-messages {
  border-radius: 2px;
  font-size: 1.23em;
  margin-bottom: .75rem;
  padding: .5em 1em .75em;
}

.success {
  border: 0;
  border-bottom: 8px solid $violet;
  color: $violet;
}

.error {
  border: 0;
  border-bottom: 8px solid $red;
  color: $red;
}
