/* ==========================================================================
   Header
   ========================================================================== */

header {
    padding: 1em 0 .25em;
    position: relative;
    @extend %clearfix;
}

.banner {
    min-height: calc(100vh - 9em);
    background-color: $gray-1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    &:before {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        top: -28px;
        left: -28px;
        border: 14px solid $cyan;
        z-index: -1;
    }
}

.headline {
    font-family: $font-family-primary;
    text-transform: uppercase;
    color: lighten($violet, 5%);
    font-size: em(76px);
    margin: 0 auto .75em;
}
