// Portfolio
@import '../helpers/index';

.portfolio {
  margin-top: 0;
  padding-top: 3em;

  + p {
    font-weight: 300;
    margin-top: 50px;
  }
}

.project {
  padding: 1em 0 0 3em;
}

.img-portfolio:hover {
  box-shadow: 7px 10px 20px $gray-shadow;
}

.shadow {
  box-shadow: 7px 10px 20px $gray-shadow;
}

.project-used li {
  color: $gray-2;
  display: block;
  font-size: 1.125em;
  font-weight: 400;

  @media screen and (min-width: 480px) {
    padding-left: 3em;
  }
}

.violet {
  border-top: 3px solid $electric-violet;
}

figure {
  margin: 4em 0 0;
}

.starnight::before {
  content: url('#{$path-patterns}/pattern.svg');
  left: -25px;
  overflow: hidden;
  position: absolute;
  top: -22px;
  width: 80%;
  z-index: -1;
}

.apollo,
.starnight {
  position: relative;
}

.apollo::before {
  bottom: -25px;
  content: url('#{$path-patterns}/violet-dots.svg');
  overflow: hidden;
  position: absolute;
  right: -23px;
  width: 100px;
  z-index: -1;
}
