/* ==========================================================================
   Base styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-secondary;
    font-size: 16px;
    background-color: $gray;
    color: $black;
}

a {
    text-decoration: none;
    color: $black;
    outline: 0;
}

h1 {
    font-size: 1px;
    text-indent: -100%;
    opacity: 0;
}

p {
    font-size: 1.25em;
    margin-top: 0;
}

img {
    max-width: 100%;
}

::selection {
    background: $cyan;
}

::-moz-selection {
    background: $cyan;
    color: $black;
}
