  .button {
      position: absolute;
      bottom: 2em;
      left: 42%;
      background-color: $pink;
      border-radius: 30px;
      font-size: 1.5625em;
      font-weight: $font-weight-light;
      letter-spacing: 1px;
      z-index: 1;
      transition: .6s;
      &:hover {
          background-color: $cyan;
          a {
              color: $violet;
          }
          &:before {
              border: 3px solid $cyan;
          }
      }
      a {
          display: inline-block;
          padding: 10px 30px 10px 36px;
          color: $gray;
      }
      &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          border: 3px solid $pink;
          z-index: -2;
          transition: .6s;
      }
  }
  
  .btn-submit {
      display: block;
      padding: 10px 20px 10px 22px;
      color: $gray;
      border: none;
      &:hover {
          color: $violet;
      }
      &:before {
          position: absolute;
          top: 0px;
          left: 0;
      }
  }
