// Buttons
@import '../helpers/index';

.button {
  background-color: $pink;
  border-radius: 30px;
  bottom: 2em;
  font-size: 1.5625em;
  font-weight: $font-weight-light;
  left: 0;
  letter-spacing: 1px;
  margin: 0 auto;
  max-width: 150px;
  position: absolute;
  right: 0;
  transition: .6s;
  z-index: 1;

  &:hover,
  &:focus {
    background-color: $cyan;

    a {
      color: $violet;
    }

    &::before {
      border: 3px solid $cyan;
    }
  }

  a {
    color: $gray;
    display: inline-block;
    padding: 10px 30px 10px 36px;
  }

  &::before {
    border: 3px solid $pink;
    border-radius: 30px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 1px;
    transition: .6s;
    width: 100%;
    z-index: -2;
  }
}

.focused-button {
  background-color: $cyan;

  a {
    color: $violet;
  }

  &::before {
    border: 3px solid $cyan;
  }
}

.btn-submit {
  border: 0;
  color: $gray;
  display: block;
  padding: 10px 20px 10px 22px;
  width: 100%;

  &:hover,
  &:focus {
    color: $violet;
  }
}
