// .name {
//     font-size: em(20px);
//     font-weight: $font-weight-bold;
//     /*    text-transform: uppercase;*/
//     position: absolute;
//     top: 1.7em;
//     left: 127px;
//     a {
//         color: $gray-3;
//         position: relative;
//     }
// }
.top_nav {
  float: right;
  margin-top: 1em;
  text-align: right;
  position: relative;
  a {
    font-size: 1.25em;
    margin-left: 10px;
    padding: 5px;
    position: relative;
  }
  ul {
    margin-bottom: 14px;
  }
}

/***
*
* Top navigation
*
 ***/

.top_nav li {
  display: block;
  list-style-type: none;
  padding-left: 0;
  font-weight: $font-weight-bold;
  @media screen and (min-width: 480px) {
    display: inline-block;
  }
}

a span {
  position: absolute;
  left: 0;
  top: .675em;
  width: 0;
  height: 17px;
  background: $cyan;
  z-index: -1;
  transition: .3s ease-in-out;
}

a:hover span {
  width: 100%;
}

/***
*
* Side navigation
*
 ***/


.menu {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);

  .dot {
    display: block;
    background: rgba(0, 0, 0, .1);
    margin-bottom: 15px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #000;
    text-decoration: none;

    &, &:hover {
      transition: all 200ms ease;
    }

    &.active {
      background: $cyan;
    }
    &:hover {
      background: $pink;
    }


  }

}