// Navigation
@import '../helpers/index';

.top-nav a {
  font-size: 1.25em;
  margin-left: 10px;
  padding: 5px;
  position: relative;
}

// Top navigation - mobile

.burger,
.burger label {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 70px;
  }

  .dot-nav {
    display: none;
  }

  .burger-container {
    background: $gray;
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .burger-label {
    height: 18px;
    position: fixed;
    right: 40px;
    top: 20px;
    width: 25px;
    z-index: 10;
  }

  .burger-line {
    background: $cyan;
    display: block;
    height: 4px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .5s;
    width: 100%;
  }

  .burger-line:first-child {
    top: 2px;
  }

  .burger-line:last-child {
    top: 16px;
  }

  label:hover {
    cursor: pointer;
  }

  .burger:checked + label {
    .burger-line {
      opacity: 0;
      top: 50%;
    }

    .burger-line:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }

    .burger-line:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }

  .top-nav {
    background: $gray;
    height: 58px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: .5s;
    transition-delay: .5s;
    width: 100%;
    z-index: 3;
  }

  .top-list {
    left: 20%;
    list-style-type: none;
    position: absolute;
    right: 20%;
    text-align: center;
    top: 20%;
  }

  .top-list-item {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;

    > a {
      color: $violet;
      display: block;
      padding: 20px;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $electric-violet;
      }
    }
  }

  .burger:checked ~ .top-nav {
    height: 100%;
    transition-delay: 0s;

    .top-list-item {
      opacity: 1;
      transition-delay: .5s;
    }
  }
}

// Top navigation - wider

@media screen and (min-width: 769px) {

  .burger,
  .burger-label {
    display: none;
  }

  .top-nav {
    float: right;
    margin-top: 1em;
    position: relative;
    text-align: right;
  }

  .top-list {
    margin-bottom: 14px;
  }

  .top-list-item {
    display: block;
    font-weight: 400;
    list-style-type: none;
    padding-left: 0;

    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  }

  a span {
    background: $cyan;
    height: 17px;
    left: 0;
    position: absolute;
    top: .675em;
    transition: .3s ease-in-out;
    width: 0;
    z-index: -1;
  }

  a:hover span,
  a:focus span {
    max-width: 100%;
    width: 100%;
  }
}

// Side navigation

.dot-nav {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

.dot-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dot {
  background: $light-gray;
  border-radius: 10px;
  color: $black;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  text-decoration: none;
  width: 20px;

  &,
  &:hover {
    transition: all 200ms ease;
  }

  &.active {
    background: $cyan;
  }

  &:hover {
    background: $pink;
  }

  span {
    opacity: 0;
  }
}
