//Tooltip
.tooltip {
    cursor: pointer;
    position: relative;
    &:before,
    &:after {
        left: 50%;
        opacity: 0;
        position: absolute;
        z-index: -100;
        transition: all 0.45s ease;
    }
    &:hover {
        color: $pink;
    }
}

.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:hover::after,
.tooltip:focus::after {
    opacity: 1;
    z-index: 100;
    transition: all 0.45s ease;
}

// pointer tip 
.tooltip::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: $gray-1 transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -.75em;
}

// speech bubble 
.tooltip::after {
    background: $gray-1;
    border-radius: .25em;
    bottom: 178%;
    color: $black;
    content: attr(data-tip);
    font-size: .9em;
    font-weight: normal;
    margin-left: -8.75em;
    padding: 1em;
    width: 16.5em;
}

@media (max-width: 760px) {
    .tooltip::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
    }
}
